numpy
ninja
pandas
requests
geopandas
gpxpy
shapely
matplotlib
psycopg2-binary
opencv-python
contextily
scikit-learn
seaborn
eli5
osmnx
ipywidgets
folium
evidently
sqlalchemy
apache-airflow